<header>
	<div class="header-main">
		<div class="header-row">
			<div class="title-row">TAKAMEX</div>
			<nav>
				<ul>
					<li><%= link_to "CONTACTO", contact_path %></li>
					<li><%= link_to "¿QUÉ HACEMOS?", what_path %></li>
					<li><%= link_to "¿QUIÉNES SOMOS?", who_path %></li>
					<li><%= link_to "INICIO", root_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
