<section class="social">
	<div class="mexico">
		<%= image_tag "Mexico.png" %>
	</div>
	<div class="social-media">
		<a href="http://facebook.com/takamex">
			<%= image_tag "facebook.png" %>
			<span class="facebook">/takamex</span>
		</a>
		<a href="http://twitter.com/takamex">
			<%= image_tag "twitter.jpg" %>
			<span class="twitter">@takamex</span>
		</a>
	</div>
	<div class="china">
		<%= image_tag "China.png" %>
	</div>
</section>
